:root {
	--ftpad: Verdana;
	--helv: Helvetica;
	--lara: darkgray;
	--claro: lightgrey;
	--fndbt: gray;
	--brdli: silver;
	--tititens: grey21;
	--btitens: grey11;
	--coritem: grey11;
	--corfnditem: grey11;
	--coritemtit: white;
	--corfnditemtit: gray;
	}