:root {
	--ftpad: Verdana;
	--helv: Helvetica;
	--lara: #00A0A0;
	--claro: #008040;
	--fndbt: darkgreen;
	--brdli: steelblue;
	--tititens: #00CED1;
	--btitens: darkgreen;
	--coritem: darkgreen;
	--corfnditem: white;
	--coritemtit: white;
	--corfnditemtit: teal;
	}