:root {
	--ftpad: Verdana;
	--helv: Helvetica;
	--lara: #0082C0;
	--claro: #688fee75;
	--fndbt: royalblue;
	--brdli: steelblue;
	--tititens: #4682b4bf;
	--btitens: dodgerblue;
	--coritem: navy;
	--corfnditem: white;
	--coritemtit: white;
	--corfnditemtit: dodgerblue;
	}