:root {
	--ftpad: Verdana;
	--helv: Helvetica;
	--lara: orangered;
	--claro: MistyRose;
	--fndbt: red;
	--brdli: tomato;
	--tititens: darkred;
	--btitens: crimson;
	--coritem: darkred;
	--corfnditem: white;
	--coritemtit: white;
	--corfnditemtit: maroon;
	}